<!DOCTYPE html>
<html>
<head>
  <title><%= app_name %></title>
  <%- if options[:skip_javascript] -%>
  <%%= stylesheet_link_tag    'admin', media: 'all' %>
  <%- else -%>
  <%%= stylesheet_link_tag    'admin', media: 'all' %>
  <%%= javascript_include_tag 'admin' %>
  <%- end -%>
  <%%= csrf_meta_tags %>
</head>
<body>

<%%= yield %>

</body>
</html>
