<!DOCTYPE html>
<html>
<head>
  <title>GTest</title> <!-- TODO : 이름 들어가게 -->
  <%= stylesheet_link_tag    'admin' %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
